@using ToDoApp.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Tarefa>


<div class="mb-3">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Tarefa">Nova Tarefa</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Concluída</th>
            <th>Data de Criação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.NoTarefa</td>
                <td>@tarefa.NoDescricao</td>
                <td>@(tarefa.StConcluida ? "Sim" : "Não")</td>
                <td>@tarefa.DtEvento.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@tarefa.Id">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@tarefa.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>